<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="qa.happytots.yameenhome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".YameenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new"
        android:logo="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:name">
        <activity
            android:name=".view.ui.activities.Splash"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/YameenAppTheme"
            android:configChanges="locale"/>
        <activity
            android:name=".view.ui.activities.Login"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".view.ui.activities.MyAccount"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.Me"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.ServiceAvailableArea"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.MyOrderActivity"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.Support"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.QuickViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.CheckoutActivity"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.CartActivity"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.AddDeliveryAddressActivity"
            android:theme="@style/YameenAppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.ui.activities.RegisterActivity"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.FishDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/YameenAppTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.ui.activities.ContentActivity"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.FilterActivity"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.ComplaintActivity"
            android:theme="@style/YameenAppTheme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.activities.WelcomeActivity"
            android:theme="@style/WelcomeTheme" />
        <activity
            android:name=".view.ui.activities.SuccessTransationActivity"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.FailedTransationActivity"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.CouponActivity"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.DeliveryAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/YameenAppTheme" />
        <activity
            android:name=".view.ui.activities.OTPActivity"
            android:theme="@style/OPTTheme" />
        <activity
            android:name=".view.ui.activities.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/YameenAppTheme" />

        <service
            android:name=".view.services.LocationService"
            android:exported="false" />

    </application>

</manifest>